# Data Validation

In [1]:
import numpy as np
import pandas as pd

Reading in our raw data

In [2]:
df = pd.read_csv('data/raw/stations.csv')
df.head()

,StationId,StationName,City,State,Status
0,AP001,"Secretariat, Amaravati - APPCB",Amaravati,Andhra Pradesh,Active
1,AP002,"Anand Kala Kshetram, Rajamahendravaram - APPCB",Rajamahendravaram,Andhra Pradesh,NaN
2,AP003,"Tirumala, Tirupati - APPCB",Tirupati,Andhra Pradesh,NaN
3,AP004,"PWD Grounds, Vijayawada - APPCB",Vijayawada,Andhra Pradesh,NaN
4,AP005,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,Andhra Pradesh,Active

Filtering out just the stations for Delhi

In [3]:
# Valid Station Ids
# selected_station_ids = ['AP001', 'AP005', 'AS001', 'BR005', 'BR006', 'BR007', 'BR008',
#        'BR009', 'BR010', 'CH001', 'DL001', 'DL002', 'DL003', 'DL004',
#        'DL005', 'DL006', 'DL007', 'DL008', 'DL009', 'DL010', 'DL011',
#        'DL012', 'DL013', 'DL014', 'DL015', 'DL016', 'DL017', 'DL018',
#        'DL019', 'DL020', 'DL021', 'DL022', 'DL023', 'DL024', 'DL025',
#        'DL026', 'DL027', 'DL028', 'DL029', 'DL030', 'DL031', 'DL032',
#        'DL033', 'DL034', 'DL035', 'DL036', 'DL037', 'DL038', 'GJ001',
#        'HR011', 'HR012', 'HR013', 'HR014', 'JH001', 'KA002', 'KA003',
#        'KA004', 'KA005', 'KA006', 'KA007', 'KA008', 'KA009', 'KA010',
#        'KA011', 'KL002', 'KL004', 'KL007', 'KL008', 'MH005', 'MH006',
#        'MH007', 'MH008', 'MH009', 'MH010', 'MH011', 'MH012', 'MH013',
#        'MH014', 'ML001', 'MP001', 'MZ001', 'OD001', 'OD002', 'PB001',
#        'RJ004', 'RJ005', 'RJ006', 'TG001', 'TG002', 'TG003', 'TG004',
#        'TG005', 'TG006', 'TN001', 'TN002', 'TN003', 'TN004', 'TN005',
#        'UP012', 'UP013', 'UP014', 'UP015', 'UP016', 'WB007', 'WB008',
#        'WB009', 'WB010', 'WB011', 'WB012', 'WB013']

selected_station_ids = ['DL002', 'DL004', 'DL006', 'DL007', 'DL008', 'DL011', 'DL012', 'DL013', 'DL014'
, 'DL017', 'DL019', 'DL021', 'DL025', 'DL028', 'DL030', 'DL031', 'DL033', 'DL034'
, 'HR011', 'HR014', 'PB001']

# Create a new DataFrame with selected StationIds
df = df[df['StationId'].isin(selected_station_ids)]

In [4]:
df.head()

   StationId                     StationName   City  State    Status
18     DL002       Anand Vihar, Delhi - DPCC  Delhi  Delhi    Active
20     DL004          Aya Nagar, Delhi - IMD  Delhi  Delhi    Active
22     DL006    Burari Crossing, Delhi - IMD  Delhi  Delhi  Inactive
23     DL007  CRRI Mathura Road, Delhi - IMD  Delhi  Delhi    Active
24     DL008               DTU, Delhi - CPCB  Delhi  Delhi    Active

In [5]:
# # Only nothern India stations
# selected_prefixes = ['CH', 'DL', 'HR', 'PB']

# # Create a new DataFrame with selected StationId prefixes
# df = df[df['StationId'].str.startswith(tuple(selected_prefixes))]

In [6]:
# df.head()

In [7]:
# # Valid Station Ids
# restricted_station_ids = ['DL033', 'DL007', 'DL008', 'DL021', 'DL013', 'DL014', 'DL002', 'DL031', 'DL028', 'DL019']

# # Create a new DataFrame with selected StationIds
# df = df[df['StationId'].isin(restricted_station_ids)]

Saving the filtered data to csv file

In [8]:
# Save the DataFrame to a CSV file with selected columns
df.to_csv('data/ni_filtered_stations.csv', index=False)