In [1]:
# %reset -f

In [2]:
import numpy as np
import pandas as pd

In [3]:
# read in our airquality dataset
columns_to_read = ["StationId", "Datetime", "PM2.5", "PM10", "NO", "NO2", "NOx", "NH3", "CO", "SO2", "O3", "Benzene", "Toluene", "Xylene"]
df = pd.read_csv('data/raw/station_hour.csv', usecols=columns_to_read)
df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene
0,AP001,2017-11-24 17:00:00,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10
1,AP001,2017-11-24 18:00:00,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15
2,AP001,2017-11-24 19:00:00,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18
3,AP001,2017-11-24 20:00:00,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10
4,AP001,2017-11-24 21:00:00,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589083 entries, 0 to 2589082
Data columns (total 14 columns):
 #   Column     Dtype
---  ------     -----
 0   StationId  object
 1   Datetime   object
 2   PM2.5      float64
 3   PM10       float64
 4   NO         float64
 5   NO2        float64
 6   NOx        float64
 7   NH3        float64
 8   CO         float64
 9   SO2        float64
 10  O3         float64
 11  Benzene    float64
 12  Toluene    float64
 13  Xylene     float64
dtypes: float64(12), object(2)
memory usage: 276.5+ MB

In [5]:
df.isna().sum()

StationId          0
Datetime           0
PM2.5         647689
PM10         1119252
NO            553711
NO2           528973
NOx           490808
NH3          1236618
CO            499302
SO2           742737
O3            725973
Benzene       861579
Toluene      1042366
Xylene       2075104
dtype: int64

In [6]:
# read north india stations
ni_stations_df = pd.read_csv('data/ni_filtered_stations.csv')
ni_stations_df.head()

  StationId                     StationName   City  State    Status
0     DL002       Anand Vihar, Delhi - DPCC  Delhi  Delhi    Active
1     DL004          Aya Nagar, Delhi - IMD  Delhi  Delhi    Active
2     DL006    Burari Crossing, Delhi - IMD  Delhi  Delhi  Inactive
3     DL007  CRRI Mathura Road, Delhi - IMD  Delhi  Delhi    Active
4     DL008               DTU, Delhi - CPCB  Delhi  Delhi    Active

In [7]:
# Create a new DataFrame containing only rows where 'StationId' is in ni_stations_df
main_df = df[df['StationId'].isin(ni_stations_df['StationId'])].reset_index(drop=True)

# Records before 2018 seems missing a lot. So, keep only 2018 & 2019 records
main_df = main_df[main_df['Datetime'] >= '2017-10-01']

# Display the result DataFrame
main_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene
21853,DL002,2017-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21854,DL002,2017-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21855,DL002,2017-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21856,DL002,2017-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21857,DL002,2017-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---------------------- DELETE BELOW ----------------------

In [8]:
# print(main_df['StationId'].unique())

# station_id_counts = main_df['StationId'].value_counts()
# print(main_df['AQI'].isna().sum())

In [9]:
# main_df = main_df[main_df['Datetime'] >= '2017-10-01']

# # Convert the 'Datetime' column to a pandas datetime object
# main_df['Datetime'] = pd.to_datetime(main_df['Datetime'])

# # Extract year and month from the 'Datetime' column
# main_df['Year'] = main_df['Datetime'].dt.year
# main_df['Month'] = main_df['Datetime'].dt.month

# station_level_counts = main_df.groupby(['StationId']).size().reset_index(name='Station_leevel_Count')
# yearly_counts = main_df.groupby(['StationId', 'Year']).size().reset_index(name='Yearly_Count')
# monthly_counts = main_df.groupby(['StationId', 'Year', 'Month']).size().reset_index(name='Monthly_Count')

In [10]:
# # filtered_stations = yearly_counts[yearly_counts['Yearly_Count'] > 8759]['StationId'].unique()
# # filtered_stations = yearly_counts[(yearly_counts['Year'] == 2018)]['StationId'].unique()
# filtered_stations = yearly_counts[(yearly_counts['Yearly_Count'] > 8759) & (yearly_counts['Year'] == 2018)]['StationId'].unique()
# filtered_stations_2 = yearly_counts[(yearly_counts['Yearly_Count'] > 8759) & (yearly_counts['Year'] == 2019)]['StationId'].unique()

# print("StationIds with Yearly_Count less than 8700:", filtered_stations)
# print("StationIds with Yearly_Count less than 8700:", filtered_stations_2)

In [11]:
# yearly_counts.head()

---------------------- DELETE ABOVE ----------------------

In [12]:
# PM10 24-hour average
main_df["PM10_24hr_avg"] = main_df.groupby("StationId")["PM10"].rolling(window=24, min_periods=16).mean().values

# PM2.5 24-hour average
main_df["PM2.5_24hr_avg"] = main_df.groupby("StationId")["PM2.5"].rolling(window=24, min_periods=16).mean().values

# SO2 24-hour average
main_df["SO2_24hr_avg"] = main_df.groupby("StationId")["SO2"].rolling(window=24, min_periods=16).mean().values

# NOx 24-hour average
main_df["NOx_24hr_avg"] = main_df.groupby("StationId")["NOx"].rolling(window=24, min_periods=16).mean().values

# NH3 24-hour average
main_df["NH3_24hr_avg"] = main_df.groupby("StationId")["NH3"].rolling(window=24, min_periods=16).mean().values

# CO 8-hour maximum
main_df["CO_8hr_max"] = main_df.groupby("StationId")["CO"].rolling(window=8, min_periods=1).max().values

# O3 8-hour maximum
main_df["O3_8hr_max"] = main_df.groupby("StationId")["O3"].rolling(window=8, min_periods=1).max().values

In [13]:
main_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,Benzene,Toluene,Xylene,PM10_24hr_avg,PM2.5_24hr_avg,SO2_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max
21853,DL002,2017-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21854,DL002,2017-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21855,DL002,2017-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21856,DL002,2017-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21857,DL002,2017-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### PM2.5 (Particulate Matter 2.5-micrometer):
PM2.5 is measured in ug / m3 (micrograms per cubic meter of air). The predefined groups are defined in the function below:

In [14]:
## PM2.5 Sub-Index calculation
def get_PM25_subindex(x):
    if x <= 30:
        return x * 50 / 30
    elif x <= 60:
        return 50 + (x - 30) * 50 / 30
    elif x <= 90:
        return 100 + (x - 60) * 100 / 30
    elif x <= 120:
        return 200 + (x - 90) * 100 / 30
    elif x <= 250:
        return 300 + (x - 120) * 100 / 130
    elif x > 250:
        return 400 + (x - 250) * 100 / 130
    else:
        return 0

# Applying the function to create a new column 'PM2.5_SubIndex'
main_df["PM2.5_SubIndex"] = main_df["PM2.5_24hr_avg"].apply(lambda x: get_PM25_subindex(x))

main_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,Toluene,Xylene,PM10_24hr_avg,PM2.5_24hr_avg,SO2_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex
21853,DL002,2017-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
21854,DL002,2017-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
21855,DL002,2017-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
21856,DL002,2017-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
21857,DL002,2017-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

### PM10 (Particulate Matter 10-micrometer):
PM10 is measured in ug / m3 (micrograms per cubic meter of air). The predefined groups are defined in the function below:

In [15]:
## PM10 Sub-Index calculation
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

main_df["PM10_SubIndex"] = main_df["PM10_24hr_avg"].apply(lambda x: get_PM10_subindex(x))

main_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,Xylene,PM10_24hr_avg,PM2.5_24hr_avg,SO2_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex
21853,DL002,2017-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
21854,DL002,2017-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
21855,DL002,2017-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
21856,DL002,2017-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
21857,DL002,2017-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

### SO2 (Sulphur Dioxide):
SO2 is measured in ug / m3 (micrograms per cubic meter of air). The predefined groups are defined in the function below:

In [16]:
## SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

main_df["SO2_SubIndex"] = main_df["SO2_24hr_avg"].apply(lambda x: get_SO2_subindex(x))

main_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,PM10_24hr_avg,PM2.5_24hr_avg,SO2_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex
21853,DL002,2017-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
21854,DL002,2017-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
21855,DL002,2017-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
21856,DL002,2017-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
21857,DL002,2017-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

### NOx (Any Nitric x-oxide):
NOx is measured in ppb (parts per billion). The predefined groups are defined in the function below:

In [17]:
## NOx Sub-Index calculation
def get_NOx_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 180:
        return 100 + (x - 80) * 100 / 100
    elif x <= 280:
        return 200 + (x - 180) * 100 / 100
    elif x <= 400:
        return 300 + (x - 280) * 100 / 120
    elif x > 400:
        return 400 + (x - 400) * 100 / 120
    else:
        return 0

main_df["NOx_SubIndex"] = main_df["NOx_24hr_avg"].apply(lambda x: get_NOx_subindex(x))

main_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,PM2.5_24hr_avg,SO2_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex
21853,DL002,2017-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
21854,DL002,2017-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
21855,DL002,2017-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
21856,DL002,2017-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
21857,DL002,2017-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0

### NH3 (Ammonia):
NH3 is measured in ug / m3 (micrograms per cubic meter of air). The predefined groups are defined in the function below:

In [18]:
## NH3 Sub-Index calculation
def get_NH3_subindex(x):
    if x <= 200:
        return x * 50 / 200
    elif x <= 400:
        return 50 + (x - 200) * 50 / 200
    elif x <= 800:
        return 100 + (x - 400) * 100 / 400
    elif x <= 1200:
        return 200 + (x - 800) * 100 / 400
    elif x <= 1800:
        return 300 + (x - 1200) * 100 / 600
    elif x > 1800:
        return 400 + (x - 1800) * 100 / 600
    else:
        return 0

main_df["NH3_SubIndex"] = main_df["NH3_24hr_avg"].apply(lambda x: get_NH3_subindex(x))

main_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,SO2_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex
21853,DL002,2017-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
21854,DL002,2017-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
21855,DL002,2017-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
21856,DL002,2017-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
21857,DL002,2017-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0

### CO (Carbon Monoxide):
CO is measured in mg / m3 (milligrams per cubic meter of air). The predefined groups are defined in the function below:

In [19]:
## CO Sub-Index calculation
def get_CO_subindex(x):
    if x <= 1:
        return x * 50 / 1
    elif x <= 2:
        return 50 + (x - 1) * 50 / 1
    elif x <= 10:
        return 100 + (x - 2) * 100 / 8
    elif x <= 17:
        return 200 + (x - 10) * 100 / 7
    elif x <= 34:
        return 300 + (x - 17) * 100 / 17
    elif x > 34:
        return 400 + (x - 34) * 100 / 17
    else:
        return 0

main_df["CO_SubIndex"] = main_df["CO_8hr_max"].apply(lambda x: get_CO_subindex(x))

main_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex
21853,DL002,2017-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
21854,DL002,2017-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
21855,DL002,2017-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
21856,DL002,2017-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
21857,DL002,2017-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

### O3 (Ozone or Trioxygen):
O3 is measured in ug / m3 (micrograms per cubic meter of air). The predefined groups are defined in the function below:

In [20]:
## O3 Sub-Index calculation
def get_O3_subindex(x):
    if x <= 50:
        return x * 50 / 50
    elif x <= 100:
        return 50 + (x - 50) * 50 / 50
    elif x <= 168:
        return 100 + (x - 100) * 100 / 68
    elif x <= 208:
        return 200 + (x - 168) * 100 / 40
    elif x <= 748:
        return 300 + (x - 208) * 100 / 539
    elif x > 748:
        return 400 + (x - 400) * 100 / 539
    else:
        return 0

main_df["O3_SubIndex"] = main_df["O3_8hr_max"].apply(lambda x: get_O3_subindex(x))

main_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex
21853,DL002,2017-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21854,DL002,2017-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21855,DL002,2017-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21856,DL002,2017-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21857,DL002,2017-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### AQI:
The final AQI is the maximum Sub-Index among the available sub-indices with the condition that at least one of PM2.5 and PM10 should be available and at least three out of the seven should be available.

There is no theoretical upper value of AQI but its rare to find values over 1000.

The pre-defined buckets of AQI are as follows:

In [21]:
main_df["Checks"] = (main_df["PM2.5_SubIndex"] > 0).astype(int) + \
                (main_df["PM10_SubIndex"] > 0).astype(int) + \
                (main_df["SO2_SubIndex"] > 0).astype(int) + \
                (main_df["NOx_SubIndex"] > 0).astype(int) + \
                (main_df["NH3_SubIndex"] > 0).astype(int) + \
                (main_df["CO_SubIndex"] > 0).astype(int) + \
                (main_df["O3_SubIndex"] > 0).astype(int)

main_df["AQI"] = round(main_df[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "NOx_SubIndex",
                                 "NH3_SubIndex", "CO_SubIndex", "O3_SubIndex"]].max(axis = 1))
main_df.loc[main_df["PM2.5_SubIndex"] + main_df["PM10_SubIndex"] <= 0, "AQI"] = np.NaN
main_df.loc[main_df.Checks < 3, "AQI"] = np.NaN

main_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI
21853,DL002,2017-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN
21854,DL002,2017-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN
21855,DL002,2017-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN
21856,DL002,2017-10-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN
21857,DL002,2017-10-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN

In [22]:
# Drop records where 'AQI' column is NaN and reset the index
# main_df = main_df.dropna(subset=['AQI']).reset_index(drop=True)
# main_df.head()

In [23]:
# Columns to keep
selected_columns = ["StationId", "Datetime", "PM2.5", "PM10", "NO", "NO2", "NOx", "NH3", "CO", "SO2", "O3", "Benzene", "Toluene", "Xylene", "AQI"]

# Save the DataFrame to a CSV file with selected columns
main_df[selected_columns].to_csv('data/ni_station_hourly.csv', index=False)